body{
	background-color:black;
	color: gold;

	font-family: arial;
	font-size: 50px;
	font-weight: normal;

	line-height: 20px;
	margin:0;
}

.container{
	width: 80%;
	margin: auto;
}

.box-1{
	background-color: #7777;
	color: #fff;

	border:5px red solid; 

	padding-right: 10px;
    padding-left: 10px;

}

#heading-1{
	font-family: arial;
	font-weight: 800;
	font-style: italic;
	
}

.box-2{
	width: 50%;
	margin: auto;
}
.box{
	display: block;
	margin: auto;
}

.box-4{
	display: block;
	margin: auto;
}

